# Root; specify the root node and associated tree here:

ROOT=euphyllophyte_apweb2009

# Orders: 

acorales_apweb2009
alismatales_apweb2009
amborellales_apweb2009
apiales_apweb2009
aquifoliales_apweb2009
arecales_apweb2009
asparagales_apweb2009
asterales_apweb2009
austrobaileyales_apweb2009
berberidopsidales_apweb2009
brassicales_apweb2009
bruniales_apweb2009
buxales_apweb2009
canellales_apweb2009
caryophyllales_apweb2009
celastrales_apweb2009
ceratophyllales_apweb2009
chloranthales_apweb2009
commelinales_apweb2009
cornales_apweb2009
crossosomatales_apweb2009
cucurbitales_apweb2009
dioscoreales_apweb2009
dipsacales_apweb2009
ericales_apweb2009
escalloniales_apweb2009
euphyllophyte_apweb2009
fabales_apweb2009
fagales_apweb2009
garryales_apweb2009
gentianales_apweb2009
geraniales_apweb2009
gunnerales_apweb2009
huerteales_apweb2009
lamiales_apweb2009
laurales_apweb2009
liliales_apweb2009
magnoliales_apweb2009
malpighiales_apweb2009
malvales_apweb2009
myrtales_apweb2009
nymphaeales_apweb2009
oxalidales_apweb2009
pandanales_apweb2009
paracryphiales_apweb2009
petrosaviales_apweb2009
picramniales_apweb2009
piperales_apweb2009
poales_apweb2009
proteales_apweb2009
ranunculales_apweb2009
rosales_apweb2009
santalales_apweb2009
sapindales_apweb2009
saxifragales_apweb2009
solanales_apweb2009
trochodendrales_apweb2009
vitales_apweb2009
zingiberales_apweb2009
zygophyllales_apweb2009

coniferales_rydin2002
# sapindales_gadek1996

# Families

fabaceae_lavin2009
rubiaceae_rova2002
meliaceae_muellner2003
proteaceae_mast2008
poaceae_gpwg2001x
